form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

label {
    margin-bottom: 15px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}

input,
select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
    font-size: 16px;
}

button {
    padding: 10px;
    background-color: #FFAF45;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: rgb(176, 179, 0);
}

input[type="date"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
    font-size: 16px;
}

@media (max-width: 768px) {
    form {
        padding: 10px;
    }

    label {
        margin-bottom: 10px;
    }

    input,
    select,
    button {
        font-size: 14px;
    }
}