<form [formGroup]="bookForm" (ngSubmit)="onSubmit()">
    <label>
        Title:
        <input formControlName="title">
    </label>
    <label>
        Author:
        <input formControlName="author">
    </label>
    <label>
        ISBN:
        <input formControlName="isbn">
    </label>
    <label>
        Library ID:
        <input formControlName="libraryId">
    </label>
    <label>
        Status:
        <select formControlName="status">
            <option value="IN">IN</option>
            <option value="OUT">OUT</option>
        </select>
    </label>
    <label *ngIf="bookForm.value.status === 'OUT'">
        Due Date:
        <input type="date" formControlName="dueDate">
    </label>
    <button type="submit">Add Book</button>
</form>