body {
    margin: 0;
    overflow: hidden;
    font-family: 'Roboto', Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.left {
    flex: 1;
    height: 100%;
}

.left img {
    height: 1080px;
    width: 901px;
    object-fit: cover;
}

.right {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
}

.right h2 {
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 1.5rem;
    box-sizing: border-box;
}

.login-container {
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 400px;
    margin-left: 50px;
}

.logo {
    width: 100px;
    height: auto;
    margin-bottom: 1rem;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #FFAF45;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    box-sizing: border-box;
    margin-top: 1rem;
}

button:hover {
    background-color: #ffb95d;
}

.forgot-password {
    display: block;
    margin-top: 1rem;
    color: #FFAF45;
    text-decoration: none;
    font-size: 14px;
}

.forgot-password:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        height: auto;
    }

    .left,
    .right {
        flex: none;
        width: 100%;
        height: auto;
    }

    .right {
        padding: 20px;
    }
}