.library-detail {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    max-width: 600px;
    /* Limit width for larger screens */
    margin: 0 auto;
    /* Center align on larger screens */
}

.library-detail h3 {
    margin-bottom: 10px;
}

.library-detail ul {
    list-style-type: none;
    padding: 0;
}

.library-detail li {
    margin-bottom: 15px;
}

.library-detail p {
    margin: 0;
}

.library-detail p:nth-child(odd) {
    font-weight: bold;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    .library-detail {
        padding: 5px;
    }
}

@media screen and (max-width: 576px) {
    .library-detail {
        max-width: 100%;
        /* Full width for smaller screens */
    }
}