<app-navbar></app-navbar>

<div class="library-container" *ngIf="library">
    <div class="header">

        <p>Libraries /
            <strong>{{library.name}}</strong>
        </p>
        <div class="actions">

            <button class="new-library-button" (click)="addBookRoute()">New Book</button>
        </div>

    </div>
    <h3>Showing <span style="color: #FFAF45;">All Books</span></h3>

    <p>Search via keyword</p>
    <div class="search-container">
        <input type="text" placeholder="Search" class="search-input" />

        <button class="reset-button">RESET</button>
    </div>

    <table class="library-table" *ngIf="library">
        <thead>
            <tr>
                <th>Book</th>
                <th>Author</th>
                <th>Description</th>
                <th>Status</th>
                <th>Return Date</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let book of library.books">
                <td>
                    <p class="book-title" style="color: #FFAF45;">{{ book.title }}</p>
                </td>

                <td>{{ book.author }}</td>
                <td>{{ book.description }}</td>
                <td>{{ book.status }}</td>
                <td>{{ book.dueDate }}</td>
            </tr>
        </tbody>
    </table>
    <ng-template #noLibraries>
        <p>No libraries available.</p>
    </ng-template>

    <div class="pagination">
        <button class="prev-page" (click)="backToLibraries()">Back</button>
        <!-- <span class="current-page"></span>
        <button class="next-page">Next</button> -->
    </div>
</div>