<app-navbar></app-navbar>

<div class="library-container">
    <div class="header">
        <h1>Libraries</h1>

        <div class="actions">
            <button class="export-button" (click)="showAddLibraryForm = !showAddLibraryForm">Add Library</button>
            <button class="new-library-button" (click)="logout()" title="Log out">LOG OUT</button>
        </div>
    </div>
    <h3>Showing <span style="color: #FFAF45;">All Libraries</span></h3>
    <p>Search via keyword</p>
    <div class="search-container">
        <input type="text" placeholder="Search" class="search-input" [(ngModel)]="searchTerm"
            (input)="searchLibraries()" />
        <button class="reset-button" (click)="resetSearch()">RESET</button>
    </div>

    <!-- Add Library Form -->
    <div *ngIf="showAddLibraryForm">
        <h3>Add New Library</h3>
        <form (ngSubmit)="addLibrary()">
            <label for="name">Name:</label>
            <input type="text" id="name" [(ngModel)]="newLibrary.name" name="name" required />

            <label for="location">Location:</label>
            <input type="text" id="location" [(ngModel)]="newLibrary.location" name="location" required />

            <button type="submit">Add Library</button>
        </form>
    </div>

    <table class="library-table" *ngIf="filteredLibraries.length > 0; else noLibraries">
        <thead>
            <tr>
                <th>Library</th>
                <th>Location</th>
                <th>Books</th>
                <th>Action Item</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let library of filteredLibraries">
                <td [title]="library.name + ' details'" (click)="routeToBook(library.id)" class="library-name"
                    style="color: #FFAF45;">
                    {{ library.name }}
                </td>
                <td [title]="library.location + ' details'">{{ library.location }}</td>
                <td>
                    <div class="books-list">
                        <span class="book" *ngFor="let book of library.books">{{ book.title }}</span>
                        <span class="see-more" (click)="routeToBook(library.id)">See More</span>
                    </div>
                </td>
                <td>
                    <button class="view-button" title="View Library" (click)="routeToBook(library.id)">👁️</button>
                    <button class="delete-button" title="Delete Library"
                        (click)="deleteLibrary(+library.id)">🗑️</button>
                </td>
            </tr>
        </tbody>
    </table>
    <ng-template #noLibraries>
        <p>No libraries available.</p>
    </ng-template>

    <div class="pagination">
        <button class="prev-page">Previous</button>
        <span class="current-page"></span>
        <button class="next-page">Next</button>
    </div>
</div>
<app-footer></app-footer>