/* Global Styles */

/* * {
  font-family: 'Roboto', Arial, sans-serif;
  color: #616161;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
html {
  margin: 0;
}

app-root {
  display: flex;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  max-width: 1200px;
}

router-outlet+* {
  padding: 0 16px;
} */


body,
html {
  margin: 0;
  font-family: 'Metropolis', sans-serif;
}